<footer id="site-footer" class="centered">
  <div class="columns">
    <div class="column">
      <span class="small">
        <strong>Reach out to us</strong>
      </span>
      <br /><br />
      <div>
        <a href="">Send us your feedbacks</a>
      </div>
      <div>
        <a href="">Report an error</a>
      </div>
      <div>
        <a href="mailto:hello@entrepic.com">Send us an email</a>
      </div>
    </div>
    <div class="column">
      <span class="small">
        <strong>Navigate</strong>
      </span>
      <br /><br />
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
      <div>
        <a href="/terms-and-conditions">Terms and Conditions</a>
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br />
  <span class="small">&copy; entrepic.com 2021</span>
</footer>
