<footer id="site-footer">
  <div class="centered">
    <p>&copy; entrepic.com 2021</p>
  </div>
  <div class="columns">
    <div class="column rtl">
      <div>
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
      <div>
        <a href="/privacy-policy">Terms and Conditions</a>
      </div>
    </div>
    <div class="column separator-left">
      <div>
        <a href="/privacy-policy">Send us a feedback</a>
      </div>
      <div>
        <a href="/privacy-policy">Report a problem</a>
      </div>
    </div>
  </div>
</footer>
