---
---

@import "vars";

@import "reset";
@import "built-ins";
@import "cover";
@import "footer";

@font-face {
  font-family: "IBMPlexSerif-Regular";
  src: url("/assets/fonts/IBMPlexSerif-Regular.ttf") format("truetype");
}
html,
body {
  font-family: "IBMPlexSerif-Regular", Fallback, sans-serif;
  background-color: $white;
  color: $textColor;
}
a {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
p {
  margin: 25px;
}
h1,
h2,
h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}
p,
a,
span,
q {
  font-size: 18px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4,
h5,
h6 {
  font-size: 20px;
  font-weight: bold;
}
ol,
ul {
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  p {
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 10px;
  }
}
