@import "vars";

.small {
  font-size: 15px;
}
.columns {
  display: flex;
  flex-direction: row;
  .column {
    flex: 1;
  }
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-centered {
  text-align: center;
}
#unpadded-container {
  max-width: 1024px;
  margin: 0 auto;
}
#padded-container {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.rtl {
  text-align: right;
}
.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $dividerColor;
}
@media screen and (max-width: $smallDevice) {
  .columns {
    display: flex;
    flex-direction: column;
  }
}
