@import "vars";

#cover-container {
  background-color: $accent;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  #logo {
    width: 40vw;
    max-width: 200px;
  }
  #brand-name {
    width: 80vw;
    max-width: 500px;
  }
  #brand-tag {
    width: 90vw;
    max-width: 700px;
  }
  .space {
    margin-top: 20px;
  }
  #download-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100vw;
    .download-buttons {
      margin: 10px;
    }
  }
  @media screen and (max-width: $smallDevice) {
    #download-buttons-container {
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .download-buttons {
        margin: 0;
      }
    }
  }
}
