@import "vars";

#site-footer {
  margin-top: 20px;
  padding: 20px;
  background-color: $accent;
  margin-top: 100px;
  color: $white;
  a {
    display: block;
    margin-bottom: 5px;
  }
  strong {
    color: $white !important;
  }
  @media screen and (max-width: $smallDevice) {
    .column {
      margin-bottom: 20px;
    }
  }
}
